.container {
    background: rgb(20, 20, 34);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* removes underline */
    cursor: pointer; /* makes it a pointer on hover */
    user-select: none; /* prevent text selection */
    -webkit-tap-highlight-color: transparent; /* prevents the element from being highlighted on tap in mobile devices */
}

a:link , a:visited{
    color: rgb(255, 255, 255); 
    background-color: transparent; 
    text-decoration: none;
} 


  @keyframes bg-main {
    0% {
      background-color: rgba(40, 42, 173, 0.6);
    }
    50% {
      background-color: rgba(6, 1, 94, 0.3);
    }
    100% {
      background-color: rgba(40, 42, 173, 0.6);
    }
  }
  
  .bg-main {
    background-color: rgba(40, 42, 173, 0.6);
    animation: bg-main 1.5s infinite;
  }
  
