<div style=" width: 100%; align-items: center; justify-content: center; background-color: black;">
    
    <!-- ROW 1 -->

        <div [ngStyle]="{'font-size.px': fontSizeNav }" style="display: flex; flex-direction: row; padding-bottom: 15px; width: 90%; align-items: center; justify-content: center; margin-top: 10px;  margin: 0 auto;">
            <div style=" width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1;">
                <a class="navItem" routerLink="/store" style="float: right; padding: 10px; cursor: pointer;">Store</a>
            </div>
            <div style=" width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1;">
                <a class="navItem" routerLink="/product" style="float: right; margin-left: 10px; padding: 10px; cursor: pointer;">Product</a>
            </div>
        </div>


        <div [ngStyle]="{'font-size.px': fontSizeNavText }" style="display: flex; flex-direction: row; padding-bottom: 5px; width: 100%; align-items: center; justify-content: center; margin-top: 15px;  margin: 0 auto; margin-bottom: 25px; ">
            <div style=" width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1; color: white; ">
                <span style="background-color: rgba(39, 46, 179, 0.817); border-radius: 10px; padding: 5px; padding-left: 10px; padding-right: 10px; margin-left: 20px; ">Check Store & Product Demo</span>
            </div>
        </div>

        <div [ngStyle]="{'font-size.px': fontSizeRow1 }" style="display: flex; flex-direction: row; width: 90%; min-height: 125px; align-items: center; justify-content: center; height: 100%; margin-top: 30px; padding-right: 10px;  margin: 0 auto; margin-bottom: 25px;">
                <div style="min-width: 125px; display: flex; flex-direction: row; background-color: transparent; border: none; height: 125px; border-radius: 50%; align-items: center; justify-content: center;">
                    <div class="bg-color" #imageArea style="display: flex; flex-direction: column; height: 100%; flex: 1; min-height: 115px; min-width: 115px; align-items: center; justify-content: end; border-radius: 50%;">
                        <img preload="image" class="myImageD" #myImage style=" height: 100%;  object-fit: contain; cursor: default; border-radius: 50%;" [src]="myImageURL" alt="" (load)="imageArea.classList.remove('bg-color')">
                    </div>
                    <div style="display: flex; flex-direction: column; min-height: 125px; min-width: 125px; height: 100%; flex: 9; ">
                        <table style="color: white; text-align: center; height: 100%; ">
                            <tr>
                                <td>
                                    <span style="color: white">Web Development</span>
                                </td>
                            </tr>
                            <tr >
                                <td>
                                    <span style="color: white; font-style: normal; font-family: 'Courier New', Courier, monospace;">Contact info:</span>
                                </td>
                            </tr>
                            <tr (click)="startEmail('webfromnik@gmail.com')">
                                <td style="justify-content: start; cursor: pointer;">
                                    <span style="color: white">webfromnik@gmail.com</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>

    <!-- ROW 2 -->

        <div [ngStyle]="{'font-size.px': fontSizeRow1 }" style="display: flex; flex-direction: row; padding-bottom: 5px; width: 90%; align-items: center; justify-content: center; margin-top: 15px;  margin: 0 auto;  margin-bottom: 25px;">
            <div style=" width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1; color: white; ">
                <span style="background-color: rgba(39, 46, 179, 0.397); border-radius: 10px; padding: 2px; padding-left: 10px; padding-right: 10px; margin-left: 20px; ">Rates from $299</span>
                <table style="color: white; text-align: left; height: 100%; margin-left: 5px;">
                    <tr>
                        <td>
                            <span  [ngStyle]="{'font-size.px': fontSizeRow2 }" style="color: white">- Host and Domain Set Up</span>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <span  [ngStyle]="{'font-size.px': fontSizeRow2 }" style="color: white">- Web Design Build</span>
                        </td>
                    </tr>
                    <tr (click)="startEmail('webfromnik@gmail.com')">
                        <td style="justify-content: start; cursor: pointer;">
                            <span  [ngStyle]="{'font-size.px': fontSizeRow2 }" style="color: white">- Project Hand-Off</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



    <!-- ROW 3 -->


        <div style="display: flex; flex-direction: row; width: 90%; margin-top: 20px; color: white; margin: 0 auto; ;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center;">
                <div class="bg-main" #phoneArea style="display: flex; flex-direction: column; height: 100%; flex: 1; min-height: 115px; min-width: 115px; align-items: center; justify-content: end; border-radius: 5px;">
                    <img preload="image" class="phone" #phone style=" height: 100%;  object-fit: contain; cursor: default; max-width: 70px;" [src]="phoneURL" alt="" (load)="phoneArea.classList.remove('bg-main')">
                </div>
            </div>
        </div>

        <div [ngStyle]="{'font-size.px': fontSizeRow2 }" style="display: flex; flex-direction: row; width: 90%; margin-top: 20px; color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 0 auto;  margin-bottom: 25px;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center">
                <span>Works seamlessly on mobile</span>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; width: 90%;  color: white; margin: 0 auto;">
            <div style=" width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; ">
                <div class="bg-main" #desktopArea style="display: flex; flex-direction: column; height: 100%; flex: 1; min-height: 200px; min-width: 200px; align-items: center; justify-content: end; border-radius: 5px;">
                    <img preload="image" class="desktop" #desktop style=" max-height: 300px; object-fit: contain; cursor: default; max-width: 100%;" [src]="desktopURL" alt="" (load)="desktopArea.classList.remove('bg-main')">
                </div>
            </div>
        </div>

        <div [ngStyle]="{'font-size.px': fontSizeRow2 }"  style="display: flex; flex-direction: row; width: 90%; margin-bottom: 25px; color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 0 auto; margin-bottom: 25px;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center">
                <span>Full desktop support</span>
            </div>
        </div>


        <div style="display: flex; flex-direction: row; width: 90%; margin-top: 20px; color: white;margin: 0 auto;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 250px; align-items: center; justify-content: center;">
                <div class="bg-main" #tabletArea style="display: flex; flex-direction: column; height: 100%; flex: 1; min-height: 150px; min-width: 150px; align-items: center; justify-content: end; border-radius: 5px;">
                    <img preload="image" class="tablet" #tablet style=" height: 100%;  object-fit: contain; cursor: default; max-width: 150px;" [src]="tabletURL" alt="" (load)="tabletArea.classList.remove('bg-main')">
                </div>
            </div>
        </div>

        <div [ngStyle]="{'font-size.px': fontSizeRow2 }"  style="display: flex; flex-direction: row; width: 90%; margin-bottom: 25px;color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin: 0 auto; margin-bottom: 25px;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center">
                <span>Tablet size enabled</span>
            </div>
        </div>

        <div [ngStyle]="{'font-size.px': fontSizeRow2 }" style="display: flex; flex-direction: row; width: 100%; margin-top: 20px; color: white; margin-bottom: 20px; margin-top: 20px;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center">
                <span>Founder of <a (click)="link('https://thodea.com')" style="color: #4848f1;">thodea.com</a></span>
            </div>
        </div>
        
        <div [ngStyle]="{'font-size.px': fontSizeRow2 }" style="display: flex; flex-direction: row; width: 100%; margin-top: 20px; color: white; margin-bottom: 20px; margin-top: 20px;">
            <div style=" width: 100%; display: flex; flex-direction: column;  max-height: 150px; align-items: center; justify-content: center">
                <span style="color: grey;">Nikolay Pevnev &copy; {{year}}</span>
            </div>
        </div>
        
</div>
